.boast{
  // margin-bottom: 10px;
}
.boastTitle {
  padding-top: 50px;
  position: relative;
  // font-family: 'Mina', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.61;
  color: #0060E0;
  margin-bottom: 22px;
  &::before{
    content: "";
    position: absolute;
    bottom: -5px;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #0060E0;
  }
}
.boastH2 {
  width: 250px;
  // font-family: 'Mina', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  color: #25202F;
  margin-bottom: 44px;
}
.boastList{
  list-style: none;
  display: flex;
  justify-content: space-around;
  &>li{
    width: 170px;
    height: 170px;
    background-color: #EDFFF5;
    border: 1px solid #CAFFE1;
    border-radius: 10px;
    box-shadow: 0 20px 50px 0 rgba(188, 255, 219, 0.4);
  }
}