.heroSection {
  position: relative;
  z-index: -1;

  .heroTitle{
    // font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: #666;
  }
  .h1{
    // font-family: inherit;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #25202F;
  }
  .heroText{
    // font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
    color: #25202F;
    margin-bottom: 50px;
  }
  .heroButton{
    width: 200px;
    height: 60px;
    background-color: #007AFF;
    color: #FDFDFF;
    border: none;
    border-radius: 10px;
  }

}
.bgOrange {
  width: 372px;
  height: 186px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #efa00b;
  transform: rotate(-45deg);
  // filter: blur(125px);
  position: absolute;
  top: 370px;
  right: 182px;
}
.bgBlue{
  width: 372px;
  height: 186px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: rgba(0, 123, 255, 0.7);
  transform: rotate(-45deg);
  // filter: blur(125px);
  position: absolute;
  top: -116px;
  right: 42px;
}
.bgPink{
  width: 372px;
  height: 186px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #FF69B2;
  transform: rotate(-45deg);
  // filter: blur(125px);
  position: absolute;
  top: 20px;
  right: 42px;
}
