@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

//hero container --------------------------
.heroSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  @include adaptive("tablet") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    // margin-bottom: 15rem;
  }
  @include adaptive('desktop'){
    // margin-bottom: 25rem;
  }
}
//image block ----------------------------
.heroImageBlock {
  position: relative;
  height: 250px;
  @include adaptive('tablet'){
    height: 420px;
  }
  @include adaptive('desktop'){
    height: 620px;
  }
}
.heroImage {
  box-sizing: border-box;
  position: absolute;
  width: 160px;
  height: 230px;
  top: 0;
  left: calc(50% - 120px + 20px);
  z-index: 3;
  @include adaptive("tablet") {
    top: 0;
    left: 20px;
    width: 254px;
    height: 366px;
  }
  @include adaptive("desktop") {
    width: 395.5px;
    height: 567px;
    top: 0;
    left: 20px;
  }
}
.heroPolygonFront {
  position: absolute;
  width: 267px;
  height: 260px;
  top: -14px;
  left: calc(50% - 164px + 20px);
  fill: $secondary-color;
  opacity: 0.9;
  z-index: 2;
  @include adaptive("tablet") {
    width: 422px;
    height: 410px;
    top: -21px;
    left: -53px;
  }
  @include adaptive("desktop") {
    width: 653px;
    height: 635px;
    top: -35px;
    left: -89px;
  }
}
.heroPolygonBack {
  position: absolute;

  width: 197px;
  height: 215px;
  top: 16px;
  left: calc(50% - 120px + 20px);

  fill: $main-color;
  z-index: 1;
  @include adaptive("tablet") {
    top: 29px;
    left: 19px;
    width: 312px;
    height: 337px;
  }
  @include adaptive("desktop") {
    top: 46px;
    left: 20px;
    width: 483px;
    height: 522px;
  }
}
//text block ----------------------------
.heroTextBlock {
  padding-left: 4rem;
  padding-top: 2rem;
  @include adaptive("tablet") {
    padding-left: 9rem;
    padding-top: 2.6rem;
  }
  @include adaptive("desktop") {
    padding-left: 14rem;
    padding-top: 3.2rem;
  }
}
.heroTitle {
  color: $hero-text-secondary-color;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2;
  @include adaptive("tablet") {
    font-size: 1.66rem;
    line-height: 1.2;
  }
  @include adaptive("desktop") {
    font-size: 2rem;
  }
}
.heroH1 {
  margin-top: 0;
  margin-bottom: 1.3rem;
  color: $hero-h1-color;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2;
  @include adaptive("tablet") {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    font-size: 4rem;
  }
  @include adaptive("desktop") {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 5rem;
  }
}
.heroArticle {
  color: $hero-text-color;
  font-size: 2rem;
  list-style: 1.33;
  font-weight: 400;
  margin-bottom: 2.6rem;
  @include adaptive('tablet'){
    font-size: 1.66rem;
    margin-bottom: 3.5rem;
  }
  @include adaptive("desktop") {
    font-size: 2rem;
    margin-bottom: 4.2rem;
  }
}
.heroButton {
  cursor: pointer;
  color: $white-color;
  border: none;
  background-color: $accent-color;
  box-shadow: $button-shadow $accent-color-shadow;
  border-radius: 50px;
  font-weight: 500;
  line-height: 2.6rem;
  width: 170px;
  height: 50px;
  font-size: 1.66rem; 
  @include adaptive('tablet'){
    width: 170px;
    height: 50px;
    font-size: 1.66rem;
  }
  @include adaptive('desktop'){
    width: 200px;
    height: 60px;
    font-size: 2rem;
  }
}
