@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.portfolio {
  position: relative;
  margin-bottom: 168px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #edf1f8 50%,
      rgba(246, 248, 255, 0.8) 100%
    );
    filter: blur(30px);
    z-index: -1;
  }
}
.title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: $accent-color;
  margin-bottom: 2rem;
  &::before {
    content: "";
    width: 4rem;
    height: 2px;
    background-color: $accent-color;
    position: absolute;
    bottom: -7px;
    left: 0;
  }
}
.headerBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.6rem;
}
.h2 {
  width: 20rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.33;
  color: $black-color;
}
.more {
  position: relative;
  height: 3rem;
  // padding: 0 1rem;
  display: flex;
  align-items: center;
  // border: 1px solid $accent-color;
  @include adaptive(tablet) {
    border: none;

  }
}
.moreText {
  display: none;
  @include adaptive(tablet) {
    display: inline;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.33;
    text-decoration: underline;
    color: $black-color;
  }
}
.moreArrow {
  margin-left: 0;
  display: inline-block;
  width: 1.5rem;
  height: 2px;
  background-color: $accent-color;
  @include adaptive('tablet'){
    margin-left: 1rem;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0.9rem;
    height: 2px;
    background-color: $accent-color;
    right: 0;
    top: 50%;
    transform: translate(1px, -200%) rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 0.9rem;
    height: 2px;
    background-color: $accent-color;
    right: 0;
    bottom: 50%;
    transform: translate(1px, 200%) rotate(-45deg);
  }
}
