@import './assets/scss/variables';

@import './assets/scss/container';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 1px dotted olive;
}
html {
  font-size: 10px;
  @media screen and (min-width:768px) {
    &{
      font-size: 11px;
    }
  }
  @media screen and (min-width:1440px) {
    &{
      font-size: 12px;
    }
  }
}

body {
  font-family: 'Mina', sans-serif;
  // background: url("./assets/img/bodyBg.svg");
  // background-position: calc(50vw - 922px) -220px;
  // background-repeat: no-repeat;
  &::before{
    content: "0.0.1";
    color: red;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 4;
  }
}