@import './assets/scss/variables';

@import './assets/scss/container';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // outline: 1px dotted olive;
}
html {
  font-size: 12px;
}

body {
  font-family: 'Mina', sans-serif;
  // background: url("./assets/img/bodyBg.svg");
  // background-position: calc(50vw - 922px) -220px;
  // background-repeat: no-repeat;
  &::before{
    content: "alpha, only desktop resolution";
    color: red;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 4;
  }
}