@import './assets/scss/container';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  // outline: 1px dotted olive;
}

body {
  font-family: 'Mina', sans-serif;
  // font-size: 14px;
  background: url("./assets/img/bodyBg.svg");
  background-position: calc(50vw - 922px) -220px;
  background-repeat: no-repeat;
  &::before{
    content: "alpha, only desktop resolution";
    color: red;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 4;
  }
}
// .btn{
//   position: relative;
//   padding: 1rem 2rem;
//   border: none;
//   border-radius: 4rem;
//   width: 15rem;
//   height: 4rem;
//   font-size: 1.5rem;
//   cursor: pointer;
//   &:active{
//     top: 0.1rem
//   }
// }