@import './mixins';

.container {
  box-sizing: border-box;
  padding: 0 1.25rem;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  @include adaptive('tablet'){
    max-width: none;
    width:768px
  }
  @include adaptive('desktop'){
    padding: 0 0;
    width: 1110px;
  }
}
