//color
$main-color:#19263F;
$secondary-color:#EDF1F8;
$accent-color:#6E49DD;
$black-color:#202B38;
$secondary-black-color:#47444E;
$light-black-color:#7E7F86;
$white-color:#FDFDFF;
$hero-h1-color: #202B38;
$hero-text-color: #25202F;
$hero-text-secondary-color: #666666;

$footer-input-holder-color: #B9D4F5;
$footer-input-border-color: #B9D4F5;

//shadow
$logo-shadow-top: 0px -1px 3px;
$logo-shadow-bottom: 0px 2px 3px ;
$button-shadow: 0px 15px 30px;
//shadow color
$main-color-shadow: #19263f73;
$accent-color-shadow: #6e49dd40;
$logo-shadow-top-color: #F2117D;
$logo-shadow-bottom-color: rgba(0, 56, 255, 0.62);