//color
$main-color:#19263F;
$main-color-shadow: #19263f73;
$secondary-color:#EDF1F8;

$accent-color:#6E49DD;

$black-color:#202B38;
$light-black-color:#7E7F86;

$white-color:#FDFDFF;

$hero-text-color: #202B38;
$hero-text-secondary-color: #666666;

//shadow
$logo-shadow: 0px 15px 30px;

$button-shadow: 0px 15px 30px;