.services{

}

.servicesTitle {
  position: relative;
  // font-family: 'Mina', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.61;
  color: #0060E0;
  margin-bottom: 22px;
  &::before{
    content: "";
    position: absolute;
    bottom: -5px;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #0060E0;
  }
}
.servicesH2 {
  width: 250px;
  // font-family: 'Mina', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  color: #25202F;

}