.header {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr;
}
  .logo{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #19263F;
  }
  .navlist {
    display: none;
  }

@media screen and (min-width: 768px){
  .header{
    grid-template-columns: 12fr;
  }
  .navlist{
    display: flex;
  }
}