@import "../../assets/scss/variables";
@import '../../assets/scss/mixins';

//header---------------------------------------
.header {
  & a {
    text-decoration: none;
    color: $light-black-color;
  }
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  @include adaptive('tablet'){
    grid-template-columns: 5rem 1fr 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  @include adaptive('desktop'){
    padding-left: 0 ;
    padding-right: 0;
  }
}
//logo---------------------------------------
.logo {
  position: relative;
  display: inline-block;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background-color: $main-color;
  box-shadow: $logo-shadow-top $logo-shadow-top-color,
    $logo-shadow-bottom $logo-shadow-bottom-color;
  @include adaptive("tablet"){
    width: 5rem;
    height: 5rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -55%);
    display: inline-block;
    width: 3.25rem;
    height: 3.25rem;
    background-image: url("../../assets/img/lambda.svg");
  }
}
//navList------------------------------------
.navlist {
  display: none;
  @include adaptive('tablet'){
    & {
      list-style: none;
      display: flex;
      align-items: center;
      & > .navlistItem:first-child {
        margin-left: 8rem;
      }
      & > .navlistItem {
        margin-left: 3.6rem;
        font-weight: 500;
        font-size: 1.66rem;
        line-height: 1.35;
      }
    }
  }
  @include adaptive('desktop'){
    & > .navlistItem:first-child {
      margin-left: 15rem;
    }
  }
}
//navButton------------------------------------
.navButton {
  justify-self: right;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  @include adaptive('tablet'){
    width: 5rem;
    height: 5rem;
  }
  border-radius: 50%;
  border: none;
  background-color: $main-color;
  box-shadow: $button-shadow $main-color-shadow;
  cursor: pointer;

  .navButtonIcon {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 0.25rem;
    border-radius: 1rem;
    background-color: $white-color;
    &::before {
      content: "";
      width: 1.8rem;
      height: 0.25rem;
      border-radius: 1rem;
      background-color: $white-color;
      position: absolute;
      left: 0;
      top: -0.6rem;
    }
    &::after {
      content: "";
      width: 1.8rem;
      height: 0.25rem;
      border-radius: 1rem;
      background-color: $white-color;
      position: absolute;
      left: 0;
      bottom: -0.6rem;
    }
  }
}
